<mat-card>
    <mat-card>
            <div class="tableFixHead">
    <table class="table table-striped" >
      <thead>
      <tr>
        <th scope="col">text</th>
        <th scope="col">root-text</th>
        <th scope="col">Dependency-relation</th>
        <th scope="col">root-head-text</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of Chunks_info; index as i">
        <td scope="row">{{item.text}}</td>
        <td> {{item.root_text}}</td>
        <td>{{item.dependency_relation}} </td>
        <td>{{item.root_head_text}} </td>
      </tr>
      </tbody>
    </table>
            </div>
  </mat-card>

  <mat-card class="chunk_chip">
    <mat-chip-list aria-label=" chunk-text">
      <mat-chip color="accent" *ngFor="let chunk of Chunks_info" selected>{{chunk.text}}</mat-chip>
    </mat-chip-list>
</mat-card>
</mat-card>