
<div class="example-container">
        <mat-form-field appearance="fill" >
          <mat-label>Technology</mat-label>
          <input matInput [(ngModel)]="Name" maxlength = "100">
        </mat-form-field>
        <br>
       
        <br>
        <mat-form-field appearance="fill" >
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="Description" rows="10" cols="70" maxlength = "3000"></textarea>
        </mat-form-field>
        <div class="search" >
            <button type="button" [disabled]="((Name==null || Name=='') || (Description==null|| Description==''))"
             class="btn btn-primary float-right m-2 search" *ngIf="tech.Id==0"
            (click)="addTechnology()" style="width:auto">
                    Add
                  </button>
        </div>
          <button type="button" class="btn btn-primary float-right m-2" [disabled]="((Name==null || Name=='') || (Description==null|| Description==''))" *ngIf="tech.Id!=0"
    (click)="updateTechnology()" style="width:auto">
            Save
          </button>

      </div>