
<div>
    <div class="search-sec">
      <div class="search-bar">
        <input type="text" [(ngModel)]="queryStr" matInput style="width:100%;position: relative;" (keyup)="handleKeyUp($event)">
        <button mat-button mat-icon-button (click)="clearSearchField()" class="close-btn" *ngIf="queryStr"><mat-icon>close</mat-icon></button>

      </div>
      <div type="button" class="search" (click)="getData(queryStr)">
          Search</div>
      
      </div>
</div>
   


<div *ngFor="let item of SearchResults" style="margin-top: 4px;">
  <div class="jumbotron">
    <h1 class="display-4">{{item.name}}</h1>
    <p>
      {{item.description}}</p>
    <p class="lead">
      <button (click)=generateChunks(item) class="btn btn-primary float-right m-2">generate noun chunks</button>
      <button (click)=hideChunks() class="btn btn-primary float-right m-2" *ngIf="Id==item.id && Chunks">hide</button>
    </p>

    <app-chunks-info [Chunks]="Chunks" *ngIf="Id==item.id && Chunks"></app-chunks-info>
   
    <hr class="my-4">

  </div>
 
</div>




<div *ngIf="SearchResults.length==0 && queryStr!=null" style="text-align:center"> {{message}}</div>